* {
    box-sizing: border-box;
    margin: 0;
}

.welcome {
    display: grid;
    grid-auto-rows: 10rem 8rem 5rem 1fr;
    background: #2d4059;
    z-index: 1;
}

h1 {
    color: #ea5455;
    padding-left: 50px;
    font-size: 5rem;
    font-family: "Rock Salt", cursive;
}

.manchete {
    grid-row: 1/2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

p {
    color: #ea5455;
}

h2 {
    color: #f07b3f;
    padding-left: 50px;
    font-size: 2rem;
    grid-row: 3/4;
    font-family: "Indie Flower", cursive;
    align-items: flex-end;
    display: flex;
}

.learning {
    grid-row: 2/3;
    text-align: left;
    grid-column: 1/1;
}

input {
    border-radius: 10px;
    background-color: #ffd460;
}

.inputField {
    grid-row: 2/3;
    display: inline-flex;
    padding-left: 50px;
    font-size: 20rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}

.formp {
    font-size: 1rem;
    color: #ffd460;
    justify-content: flex-end;
    padding-left: 1rem;
}

.imagelist {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.photocard {
    display: grid;
    grid-auto-rows: 1fr 1rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.photo {
    grid-row: 1/2;
    width: 20rem;
    height: 20rem;
    align-self: center;
    text-align: center;
}

.title {
    grid-row: 2/3;
    align-self: flex-start;
    text-align: left;
    font-size: 1.5rem;
    background: #ffd460;
}

/* comments modal */

.outPgComments {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(45, 64, 89, 0.8);
    z-index: 101;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pgComments {
    background-color: #f07b3f;
    height: 85vh;
    width: 85vw;
    z-index: 103;
    align-items: center;
    color: #2d4059;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: solid 10px #ffd460;
}

.imageCardComment {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: flex-end;
    display: grid;
    grid-template-rows: 1fr 2.5rem 1rem 1rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

.imgInComment {
    grid-row: 1/2;
    width: 20rem;
    height: 20rem;
}

.titleInComment {
    grid-row: 2/3;
    font-size: 2rem;
    color: #2d4059;
    justify-content: flex-start;
    padding-left: 0;
    padding-bottom: 1rem;
}

.desInComment {
    grid-row: 3/4;
    font-size: 1rem;
    color: #2d4059;
    padding-bottom: 2rem;
}

.timeInComment {
    grid-row: 4/5;
    font-size: 0.8rem;
    color: #2d4059;
    justify-content: flex-end;
}

.addComment {
    grid-row: 1/2;
    padding-left: 2rem;
    display: inline;
    padding-bottom: 1rem;
    grid-column: 1/2;
    align-items: flex-end;
    justify-content: flex-end;
}

.commentInput {
    width: 20rem;
    height: 5rem;
}

.comments {
    grid-row: 2/3;
    grid-column: 1/3;
    padding-left: 2rem;
    background: rgba(45, 64, 89, 0.8);
    justify-content: flex-start;
    color: #ffd460;
    overflow: scroll;
}

@media screen (max-width 800px) {
    .imagelist {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
