* {
    box-sizing: border-box;
    margin: 0;
}

.welcome {
    display: grid;
    grid-template-rows: 1fr 2rem 4rem 10rem;
    grid-template-columns: 8rem 1fr;
    z-index: 1;
    background: radial-gradient(
                circle farthest-side at 0% 50%,
                #fb1 23.5%,
                rgba(240, 166, 17, 0) 0
            )
            21px 30px,
        radial-gradient(
                circle farthest-side at 0% 50%,
                #b71 24%,
                rgba(240, 166, 17, 0) 0
            )
            19px 30px,
        linear-gradient(
                #fb1 14%,
                rgba(240, 166, 17, 0) 0,
                rgba(240, 166, 17, 0) 85%,
                #fb1 0
            )
            0 0,
        linear-gradient(
                150deg,
                #fb1 24%,
                #b71 0,
                #b71 26%,
                rgba(240, 166, 17, 0) 0,
                rgba(240, 166, 17, 0) 74%,
                #b71 0,
                #b71 76%,
                #fb1 0
            )
            0 0,
        linear-gradient(
                30deg,
                #fb1 24%,
                #b71 0,
                #b71 26%,
                rgba(240, 166, 17, 0) 0,
                rgba(240, 166, 17, 0) 74%,
                #b71 0,
                #b71 76%,
                #fb1 0
            )
            0 0,
        linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
    background-size: 40px 60px;
    justify-content: center;
    text-align: left;
    padding-left: 0.5rem;
}

h1 {
    color: #2b580c;
    padding-left: 50px;
    font-size: 5rem;
    font-family: "Rubik Mono One", sans-serif;
    font-weight: 800;
}

.manchete {
    font-size: 5.5rem;
    grid-row: 1/4;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0;
    z-index: 50;
    position: fixed;
    /* padding-left: 50px; */
}

p {
    color: #ea5455;
}

a {
    text-decoration: none;
}

h2 {
    color: #f07b3f;
    padding-left: 50px;
    font-size: 2rem;
    grid-row: 3/4;
    font-family: "Indie Flower", cursive;
    align-items: flex-end;
    display: flex;
}

/* .learning {
    grid-row: 2/3;
    text-align: left;
    grid-column: 1/1;
} */

input {
    border-radius: 10px;
    background-color: transparent;
    width: 12rem;
    height: 3rem;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-bottom: solid 2px #2b580c;
}
.lastbar {
    grid-row: 4/5;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 10rem 1fr;
}

.moreb {
    grid-row: 3/4;
    grid-column: 2/4;
    height: 3rem;
    width: 7rem;
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;
    /* left: 10rem; */
    font-size: 1rem;
    border: solid 2px #2b580c;
    background: transparent;
    color: #2b580c;
}

/* .fileicon {
    width: 5.8rem;
    border: none;
    width: 10px;
    height: 10px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color: #2b580c;
}

.fileicon + label {
    height: 4rem;
    align-items: center;
    background: transparent;
    border-left: solid 2px #2b580c;
    border-rigth: solid 2px #2b580c;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    text-align: center;
    margin: 0.1rem;
    color: #2b580c;
    padding: 0.1rem;
} */

.inputField {
    grid-row: 1/2;
    grid-column: 2/3;
    display: inline-flex;
    font-size: 1.5rem;
    align-self: center;
    justify-self: flex-end;
    text-align: right;
    padding-right: 1rem;
}

.formp {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #2b580c;
    width: 16rem;
    text-align: left;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
    justify-self: flex-start;
}

.formb {
    height: 4rem;
    align-items: center;
    background: transparent;
    border: none;
    border-left: solid 2px #2b580c;
    border-rigth: solid 2px #2b580c;
    font-size: 1rem;
    color: #2b580c;
    background-color: transparent;
}

.imagelist {
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 35rem 35rem;
    grid-template-rows: 35rem 35rem 35rem 35rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.photocard {
    display: grid;
    grid-template-rows: 35rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.photo {
    width: 35rem;
    height: 35rem;
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    display: flex;
    font-size: 2rem;
    background: rgba(43, 87, 13, 0.7);
    color: #fb1;
    opacity: 0;
    z-index: 51;
    position: absolute;
    height: 35rem;
    width: 35rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Rubik Mono One", sans-serif;
}

.title:hover {
    opacity: 1;
}

/* comments modal */

.outPgComments {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(45, 64, 89, 0.8);
    z-index: 101;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pgComments {
    background-color: #f07b3f;
    height: 90vh;
    width: 90vw;
    z-index: 103;
    align-items: center;
    color: #2d4059;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 10rem;
    grid-template-columns: 1fr 1fr;
    border: solid 10px #ffd460;
}

.imageCardComment {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: stretch;
    align-items: flex-start;
    align-self: flex-start;
    display: grid;
    grid-template-rows: 18rem 2.5rem 8rem 1rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

.imgInComment {
    display: flex;
    grid-row: 1/2;
    width: 18rem;
    height: 18rem;
    text-align: start;
    justify-self: flex-end;
    align-content: flex-end;
    right: 0;
}

.titleInComment {
    grid-row: 2/3;
    font-size: 2rem;
    color: #2d4059;
    justify-content: flex-end;
    padding-left: 0;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    text-align: right;
}

.desInComment {
    grid-row: 3/4;
    font-size: 1rem;
    color: #2d4059;
    padding-top: 1rem;
    align-items: center;
    overflow-y: scroll;
    height: 8rem;
    text-align: justify;
}

.timeInComment {
    grid-row: 4/5;
    font-size: 0.8rem;
    color: #2d4059;
    justify-content: flex-end;
    align-self: flex-end;
    height: 1rem;
    text-align: right;
}

.addComment {
    grid-row: 1/2;
    padding-left: 2rem;
    display: inline;
    padding-bottom: 1rem;
    grid-column: 1/2;
    align-items: flex-end;
    justify-content: flex-end;
}

.commentInput {
    width: 30rem;
    height: 10rem;
    padding-left: 0.5rem;
    font-size: 2rem;
}

.comments {
    padding-top: 1rem;
    grid-row: 2/3;
    grid-column: 1/3;
    padding-left: 2rem;
    background: rgba(45, 64, 89, 0.8);
    justify-content: flex-start;
    color: #ffd460;
    overflow-y: scroll;
    height: 10rem;
}

@media screen (max-width 800px) {
    .imagelist {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
